
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}

<h2>Index</h2>





<div class="panel-body no-padding">
    <table class="table table-striped">
        <thead>
            <tr class="warning">
                <th>
                    Id
                </th>
                <th>
                    Type
                </th>
              
                <th>
                    Action
                </th>

            </tr>
        </thead>
        <tbody>

            @foreach (var p in ViewBag.result)
            {
                <tr>
                    <td>
                        @p.testId
                    </td>
                    <td>
                        @p.type
                    </td>
                 

                    <td>
                        <button type="button" class="btn btn_5 btn-lg btn-default">@Html.ActionLink("Details", "Details", new { id = p.testId }) </button>
                        <button type="button" class="btn btn_5 btn-lg btn-danger">@Html.ActionLink("Delete", "Delete", new { id = p.testId }) </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>